<body>
    <nav class="navbar navbar-default navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="#ceremonia">La ceremonia</a></li>
                    <li role="presentation"><a href="#fiesta">La fiesta</a></li>
                    <li role="presentation"><a href="#dj">¿Quieres ser nuestro DJ?</a></li>
                    <li role="presentation"><a href="#fotos">¡Fotos si!</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <a href="#" class="top-logo"><img src="/img/logo-brand.png" width="5%" class="logo"></a>
    <div class="col-md-12 logo-boda"><img src="/img/logoweb2.png" width="45%" height="45%" class="logo-bodorrio"></div>
    <div class="col-md-12 confirma">Para confirmarnos tu asistencia escribenos a <a href="mailto:bodorriodaycr@gmail.com?Subject=Confirmo%20mi%20asistencia" target="_top">bodorriodaycr@gmail.com</a></div>

    <div class="col-md-12">
    <a href="http://www.laurafrontelo.com/" target="_blank"><img src="img/logobyLRF.png" width="10%" height="10%" class="logoby" /></a>
</div>

    <div class="container">
        <div class="col-md-12">
            <a name="ceremonia"> </a>
            <p class="text-uppercase bg-info seccion-title">La Ceremonia</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12"><img src="/img/ceremonia.jpg" width="100%" class="image-ceremony"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <iframe allowfullscreen="" frameborder="0" width="100%" height="350" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyClWtdQzEy0RXaynS6RGaClEKQhRLRb3MM&amp;q=+Plaza+Padre+Juan+de+Mariana%2C+45600+Talavera+de+la+Reina%2C+Toledo&amp;zoom=15"></iframe>
        </div>
        <div class="col-md-12">
            <p class="seccion-paragraph">La ceremonia se celebrará en el <a href="https://www.google.com/maps?ll=39.958641,-4.833107&z=15&t=m&hl=en-US&gl=US&mapclient=embed&daddr=Plaza+Padre+Juan+de+Mariana+45600+Talavera+de+la+Reina+Toledo+Spain@39.9586413,-4.8331075" target="_blank">Ayuntamiento de Talavera de la Reina</a>
             a las 12:30. ¡Sed puntuales!</p>
        </div>
       
    </div>
    <div class="container">
        <div class="col-md-12">
            <a name="fiesta"> </a>
            <p class="text-uppercase bg-info seccion-title">La fiesta</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12"><img src="/img/la-fiesta.jpg" width="100%" class="image-ceremony"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <iframe allowfullscreen="" frameborder="0" width="100%" height="350" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyClWtdQzEy0RXaynS6RGaClEKQhRLRb3MM&amp;q=40.0410492%2C-4.6409524&amp;zoom=14" target="_blank"></iframe>
        </div>
        <div class="col-md-12">
            <p class="seccion-paragraph">Luego iremos a celebrarlo juntos por todo lo alto en <a href="https://www.google.com/maps?ll=40.041049,-4.622499&z=13&t=m&hl=es&gl=US&mapclient=embed&daddr=40%C2%B002%2727.8%22N+4%C2%B038%2727.4%22W@40.0410492,-4.6409524">la casa rural "La Badia". </a>Comeremos, beberemos y bailaremos, y quien quiera puede bañarse en la piscina (si el tiempo acompaña claro)</p>
        </div>

        <div class="row direcciones">
            <div class="col-md-6">
                <p class="direcciones">Si vienes desde Talavera</p><img src="/img/direcciones-desde-talavera.png" width="100%" /></div>
            <div class="col-md-6">
                <p class="direcciones">Si vienes desde Madrid</p><img src="/img/direcciones-desde-madrid.png" width="100%" /></div>
        </div>
        <div class="col-md-12 seccion-end"><img src="/img/champagne.png" width="7%" class="icons-seccion" /><img src="/img/flowers.png" width="7%" class="icons-seccion" /><img src="/img/garlands.png" width="7%" class="icons-seccion" /><img src="/img/wedding-cake.png" width="7%" class="icons-seccion" /></div>
        
    </div>
    <div class="container fotos-container">
        <div class="col-md-12"><img src="/img/turntable.png" width="20%" class="seccion-music"></div>
        
            <a name="dj"> </a>
            <h2 class="text-center music-section">¿Quieres ser nuestro DJ?</h2>

            <p class="seccion-paragraph music-section">Queremos que en nuestra fiesta no falte la canción que más te gusta, la que se escucha en todas las bodas o simplemente la que te apetece cantar a pleno pulmón junto a nosotros. Dinos cuál es y la apuntamos.</p>
    
            <%= render 'form' %>

    </div>
    <div class="container foto-section">
        <div class="row foto-section">
            <div class="col-md-8 col-md-offset-2">
                <p class="seccion-title">¡Fotos si, gracias!
                    <a name="fotos"> </a>
                </p>
                <p class="lead photo-description">Si quieres colgar tus fotos en Instagram, Facebook o Twitter utiliza el hastag</p><img class="img-thumbnail img-responsive fotos-section" src="/img/camara y hashtag.jpg" width="100%"></div>
        </div>
    </div>
</body>
