    <div class="container fotos-container">
        <div class="col-md-12"><img src="/img/turntable.png" width="20%" class="seccion-music"></div>
	
            <a name="dj"> </a>
            <h2 class="text-center music-section">¿Quieres ser nuestro DJ?</h2>

            <p class="seccion-paragraph music-section">Queremos que en nuestra fiesta no falte la canción que más te gusta, la que se escucha en todas las bodas o simplemente la que te apetece cantar a pleno pulmón junto a nosotros. Dinos cual es y la apuntaremos.</p>

            <%= render 'form' %>

    </div>